extends layout

block content
  #viewcontact.row
    #name
      p= retrievedContact.firstname+' '+retrievedContact.lastname
    #address
      p= retrievedContact.address
    #phone
      p= retrievedContact.phone
